.welcome-details {
  display: flex;
  flex-wrap: wrap;
  /* background-color: var(--dark-blue); */
  /* color: var(--white); */
  align-items: center; 
   justify-content: center;
  padding: 0 10%;
  overflow: hidden; 
}
.secondLogo {
  position: relative;
  padding:20px;
  height: 500px;

  width:500px;
  /* background-color: rgb(139, 14, 14);  */
  z-index: 1; 
}
.secondLogo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../assets/logo.png');
  background-size: cover;
  background-position: center;
  /* filter: blur(10px); */
  /* opacity: 1;  */
  z-index: -1; 
  /* border-radius: 20px;  */
}
.welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome-message p  {
  /* color: var(--red); */
  text-align: center;
  font-size: var(--font-size-heading-3);
}
/* .welcome-message  button {
  border-radius: 5px;
  width: 100%; 
  max-width: 200px; 
  height: 60px;
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-bold);
  color: var(--red); 
  background-color: transparent; 
  border: 2px solid var(--red); 
  transition: all 0.3s ease; 
} */

/* Button Hover Effects */
.welcome-message button:hover {
  color: var(--white); /* Text color on hover */
  background-color: var(--red); /* Background color on hover */
  /* box-shadow: 0 0 15px rgba(255, 0, 0, 0.8);  */
}

.welcome-message h2 {
  font-size: 50px;
  font-weight: var(--font-weight-bold);

  /* padding: 2px; */
}
.transformation{
  color: red;

}
.africa{
    color: gray;

}
.united{
  color: var(--dark-blue);
}

