@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lora:wght@400;700&display=swap');


:root {
  font-family: 'Roboto', sans-serif;
  --dark-blue:#0c0c43;
  --red:#e32738;
  --light-purple:#dad7e4;
  --gray-purple:#808092;
  --dark-maroon:#5f2746;
  --dark-navy:#34284d;
  --blue-gray:#848ca4;
  --blue-burgundry: #3b0423;
  --white:#FFFFFF;

  --font-size-body: 1.406rem; /* 22.5px */
  --font-size-heading-1: 2.8125rem; /* 45px */
  --font-size-heading-2: 2.34375rem; /* 37.5px */
  --font-size-heading-3: 1.5625rem; /* 25px */
  --font-size-heading-4: 1.406rem; /* 22.5px */
  --font-size-heading-5: 1.25rem; /* 20px */
  --font-size-heading-6: 1.09375rem; /* 17.5px */
  --font-size-nav: 1.406rem; /* 22.5px */
  --font-size-button: 1.25rem; /* 20px */
  --font-size-small: 1.09375rem; /* 17.5px */

  
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-light: 300;
  --font-weight-extra-bold: 800;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', serif;
}


