
.newsSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  // flex-direction: column;
  // background-color: var(--light-purple);
}
.news-Title{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  // padding: 20px;

}


.news-Cards{
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-wrap: wrap;
  background-color: blue;
}
.news-Card{
  width: 325px;
  overflow: hidden;
  border-radius: 8px;
  margin: 20px;
  background-color: var(--white);

}
.news-Card img{
width: 100%;
height: auto;
}


.news-Content h1{
  font-size: 0.8rem; /* Font size for the title */
  white-space: normal; /* Allow text to wrap into multiple lines */
  word-wrap: break-word; /* Break long words to prevent overflow */
  margin-bottom: 8px;
  font-family: "EB Garamond", serif;
  color: var(--dark-blue);
}
.news-Content{
  padding: 16px;
}
.news-Content  .date {
  font-size: 1.05rem;
  color: var(--dark-blue);
  margin-top: 10px;
}

 
@media (max-width: 320px) {

}

@media (min-width: 320px) and (max-width: 480px ){
  .news-Card{
    max-width: 420px;
  
  
  }
}

@media (min-width: 480px) and (max-width: 600px) {
  .news-Card{
    width: 355px;
  
  
  }
}

@media (min-width:600px) and (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 800px) {

}

@media (min-width: 800px) and (max-width: 1024px) {

}
@media (min-width: 1024px) and (max-width: 1200px) {

}
@media (min-width: 1200px) and (max-width: 2000px) {

}