.policySection{
  // display: flex;
  flex-wrap: wrap;
  // align-items: center;
  // justify-content: space-between;
  padding: 40px 10%;
 
}
.cardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // width: 100%;
  padding: 20px; /* Optional: Add some padding to the container */
  // box-sizing: border-box; /* Ensure padding doesn't affect overall width */
}
.policyCards{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates 4 equal columns */
  grid-template-rows: 350px 350px; /* Fixed row heights */
  grid-gap: 20px; /* Space between items */
}

.socialCard {
  position: relative;
  // background-color: rgba(226, 226, 240, 0.8); 
  flex-wrap: wrap;
  // padding: 15px;
  // background-color: #fff; /* Card background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  backdrop-filter: blur(10px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light border to enhance glass look */
  height: 100%; /* Make the card inherit the row's height */
  width: 100%;
}
/* Card content */
.socialContent {
  position: relative;
  z-index: 2; /* Ensure it sits above the gradient overlay and image */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Center the content */
  background: linear-gradient(to top, var(--dark-blue) 0%, var( --blue-gray) 30%, transparent 100%);
  opacity: 1;

    height: 100%; /* Make the card inherit the row's height */
    width: 100%;
}


.mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Place the image behind the gradient and content */
}

.logoWrapper {
  position: absolute; /* Place it relative to the card */
  top: 10px; /* Position it near the top */
  right: 10px; /* Position it near the left */
  z-index: 3; /* Ensure it sits above the gradient overlay and image */
  padding: 10px; /* Adjust padding */
  background-color: rgba(248, 244, 244, 0.8); /* Optional: A light background for readability */
  border-radius: 8px; /* Slightly rounded corners */
  box-sizing: border-box; /* Ensure padding is included in total dimensions */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  align-items: flex-start; /* Align content to the left */
  text-align: left; /* Ensure text is left-aligned */
  color: white;
}

.logo {
  width: 50px; /* Adjust logo size */
  height: auto;
}


.socialContent h3 a {
  text-decoration: none;
  color: white;
}

.socialContent p {
  color: white;
}
/* Responsive adjustments */
@media (max-width: 320px) {
  .policyCards {
    grid-template-columns: 1fr ; /* Two columns layout */
    grid-template-rows: repeat(8, 250px); /* Fixed height for each row */
  }
  // .socialCard {
  //   height: auto; /* Allow card height to adjust based on content */
  // }

  .logoWrapper {
    top: 1px; /* Adjust position */
    right: 5px; /* Adjust position */
    padding: 5px; /* Adjust padding */
  }
}

@media (min-width: 321px) and (max-width: 480px) {
  .policyCards {
    grid-template-columns: 1fr ; /* Two columns layout */
    grid-template-rows: repeat(8, 250px); /* Fixed height for each row */
  }
  .socialCard {
    height: 100%; /* Allow card height to adjust based on content */
  }

  .logoWrapper {
    top: 2px; /* Adjust position */
    right: 2px; /* Adjust position */
    padding: 2px; /* Adjust padding */
  }
}

@media (min-width: 481px) and (max-width: 600px) {
  .policyCards {
    grid-template-columns: 1fr ; /* Two columns layout */
    grid-template-rows: repeat(8, 250px); /* Fixed height for each row */
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .policyCards {
    grid-template-columns: 1fr ; /* Two columns layout */
    grid-template-rows: repeat(8, 350px); /* Fixed height for each row */
  }
}

@media (min-width: 769px) and (max-width: 800px) {
  .policyCards {
    grid-template-columns: 1fr 1fr ; /* Two columns layout */
    grid-template-rows: repeat(8, 250px); /* Fixed height for each row */
  }
}

@media (min-width: 801px) and (max-width: 1024px) {
  .policyCards {
    grid-template-columns: 1fr 1fr ; /* Two columns layout */
    grid-template-rows: repeat(4, 250px); /* Fixed height for each row */
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .policyCards {
    grid-template-columns: 1fr 1fr  ; /* Two columns layout */
    grid-template-rows: repeat(4, 250px); /* Fixed height for each row */
  }
}

@media (min-width: 1201px) {
  // .policyCards {
  //   grid-template-columns: 1fr 1fr 1fr 1fr; /* Four columns layout */
  //   grid-template-rows: 350px 350px; /* Fixed row heights */
  // }
}
// /* Responsive Styles */
// @media (max-width: 320px) {
//   .nmainImageWrapper {
//     height: 100px; /* Fixed height for images */

//   }
//   .newsCard h3 {
//     // margin: 0.5rem 0; 
//     font-size: 0.8rem; /* Font size for the title */

//   }
//   .socialContent {
//     top: -20px; /* Move the content upwards to overlap with the image */

//   }
//   .policyCards {
//     grid-template-columns: 1fr; /* 1 column for extra small screens */
//   }
// }

// @media (min-width: 320px) and (max-width: 480px ){
//   .mainImageWrapper {
//     height: 250px; /* Fixed height for images */
  
//   }
//   .socialContent h3 a {
//     // margin: 0.5rem 0; 
//     font-size: 0.8rem; /* Font size for the title */

//   }  
//   .socialContent {
//     top: -10px; /* Move the content upwards to overlap with the image */

//   }
//   .policyCards {
//     grid-template-columns: 1fr; /* 1 column for small mobile screens */
//     padding: 10px; /* Optional: Add some padding to the container */

//   }
// }

// @media (min-width: 480px) and (max-width: 600px) {
//   .mainImageWrapper {
//     height: 250px; /* Fixed height for images */
  
//   }
//   .socialContent h3 a{
//     margin: 0.8rem 0; 
//     font-size: 0.8rem; /* Font size for the title */

//   }  .socialContent {
//     top: -30px; /* Move the content upwards to overlap with the image */

//   }
//   .policyCards {
//     grid-template-columns: 1fr ; /* 2 columns for medium mobile screens */
//     padding: 5px; /* Optional: Add some padding to the container */

//   }
// }

// @media (min-width:600px) and (max-width: 768px) { 
//   .mainImageWrapper {
//     height: 250px; /* Fixed height for images */
  
//   }
//   .socialContent h3 a{
//     margin: 0.8rem 0; 
//     font-size: 0.8rem; /* Font size for the title */

//   }  .socialContent {
//     top: -30px; /* Move the content upwards to overlap with the image */

//   }
//   .policyCards {
//     grid-template-columns: 1fr ; /* 3 columns for larg~e mobile screens */
//     padding: 5px; /* Optional: Add some padding to the container */

//   }
// }

// @media (min-width: 768px) and (max-width: 800px) {
//   .mainImageWrapper{
//     height: 190px; /* Fixed height for images */
  
//   }
//   .socialContent h3 a {
//     margin: 0.8rem 0; 
//     font-size: 1rem; /* Font size for the title */

//   }
//   .policyCards {
//     grid-template-columns: 1fr  ; /* 3 columns for small tablets */
//   }
// }

// @media (min-width: 800px) and (max-width: 1024px) {
//   .policyCards {
//     grid-template-columns: 1fr  ; /* 4 columns for medium tablets */
//   }
// }
// @media (min-width: 1024px) and (max-width: 1200px) {
//   .policyCards {
//     grid-template-columns: 1fr  ; /* 4 columns for medium tablets */
//   }
// }
// @media (min-width: 1200px) and (max-width: 2000px) {
//   .policyCards {
//     grid-template-columns: 1fr  1fr ; /* 4 columns for medium tablets */
//   }
// }



.car {
  background-color: var(  --gray-purple);
  box-shadow: 0px var(--card-box-shadow-1-y) var(--card-box-shadow-1-blur) var(--card-box-shadow-1), 0px var(--card-box-shadow-2-y) var(--card-box-shadow-2-blur) var(--card-box-shadow-2), 0 0 0 1px var(--card-border-color);
  padding: 56px 16px 16px 16px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  transition: box-shadow .25s;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 15px;
    background-color: var(--card-background-color);
  }

  .icon {
    z-index: 2;
    position: relative;
    display: table;
    padding: 8px;

    &::after {
      content: '';
      position: absolute;
      inset: 4.5px;
      border-radius: 50%;
      background-color: var(--card-icon-background-color);
      border: 1px solid var(--card-icon-border-color);
      backdrop-filter: blur(2px);
      transition: background-color .25s, border-color .25s;
    }

    svg {
      position: relative;
      z-index: 1;
      display: block;
      width: 24px;
      height: 24px;
      transform: translateZ(0);
      color: var(--card-icon-color);
      transition: color .25s;
    }
  }

  h4 {
    z-index: 2;
    position: relative;
    margin: 12px 0 4px 0;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 2;
    color: var(--card-label-color);
  }

  p {
    z-index: 2;
    position: relative;
    margin: 0;
    font-size: 14px;
    line-height: 1.7;
    color: var(--text-color);
  }

  .shine {
    border-radius: inherit;
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    transition: opacity .5s;

    &:before {
      content: '';
      width: 150%;
      padding-bottom: 150%;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      bottom: 55%;
      filter: blur(35px);
      opacity: var(--card-shine-opacity);
      transform: translateX(-50%);
      background-image: var(--card-shine-gradient);
    }
  }

  .background {
    border-radius: inherit;
    position: absolute;
    inset: 0;
    overflow: hidden;
    -webkit-mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
    mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
    background-color: var(--dark-blue);

    .tiles {
      opacity: 0;
      transition: opacity .25s;

      .tile {
        position: absolute;
        background-color: var(--dark-blue);
        animation-duration: 8s;
        animation-iteration-count: infinite;
        opacity: 0;

        &.tile-4,
        &.tile-6,
        &.tile-10 {
          animation-delay: -2s;
        }

        &.tile-3,
        &.tile-5,
        &.tile-8 {
          animation-delay: -4s;
        }

        &.tile-2,
        &.tile-9 {
          animation-delay: -6s;
        }

        &.tile-1 {
          top: 0;
          left: 0;
          height: 10%;
          width: 22.5%;
        }

        &.tile-2 {
          top: 0;
          left: 22.5%;
          height: 10%;
          width: 27.5%;
        }

        &.tile-3 {
          top: 0;
          left: 50%;
          height: 10%;
          width: 27.5%;
        }

        &.tile-4 {
          top: 0;
          left: 77.5%;
          height: 10%;
          width: 22.5%;
        }

        &.tile-5 {
          top: 10%;
          left: 0;
          height: 22.5%;
          width: 22.5%;
        }

        &.tile-6 {
          top: 10%;
          left: 22.5%;
          height: 22.5%;
          width: 27.5%;
        }

        &.tile-7 {
          top: 10%;
          left: 50%;
          height: 22.5%;
          width: 27.5%;
        }

        &.tile-8 {
          top: 10%;
          left: 77.5%;
          height: 22.5%;
          width: 22.5%;
        }

        &.tile-9 {
          top: 32.5%;
          left: 50%;
          height: 22.5%;
          width: 27.5%;
        }

        &.tile-10 {
          top: 32.5%;
          left: 77.5%;
          height: 22.5%;
          width: 22.5%;
        }
      }
    }

    @keyframes tile {

      0%,
      12.5%,
      100% {
        opacity: 1;
      }

      25%,
      82.5% {
        opacity: 0;
      }
    }

    .line {
      position: absolute;
      inset: 0;
      opacity: 0;
      transition: opacity .35s;

      &:before,
      &:after {
        content: '';
        position: absolute;
        background-color: var(--dark-blue);
        transition: transform .35s;
      }

      &:before {
        left: 0;
        right: 0;
        height: 1px;
        transform-origin: 0 50%;
        transform: scaleX(0);
      }

      &:after {
        top: 0;
        bottom: 0;
        width: 1px;
        transform-origin: 50% 0;
        transform: scaleY(0);
      }

      &.line-1 {
        &:before {
          top: 10%;
        }

        &:after {
          left: 22.5%;
        }

        &:before,
        &:after {
          transition-delay: .3s;
        }
      }

      &.line-2 {
        &:before {
          top: 32.5%;
        }

        &:after {
          left: 50%;
        }

        &:before,
        &:after {
          transition-delay: .15s;
        }
      }

      &.line-3 {
        &:before {
          top: 55%;
        }

        &:after {
          right: 22.5%;
        }
      }
    }
  }

  &:hover {
    box-shadow: 0px 3px 6px var(--card-hover-box-shadow-1), 0px var(--card-hover-box-shadow-2-y) var(--card-hover-box-shadow-2-blur) var(--card-hover-box-shadow-2), 0 0 0 1px var(--card-hover-border-color);

    .icon {
      &::after {
        background-color: var(--dark-blue);
        border-color: var(--dark-blue);
      }

      svg {
        color: var(--dark-blue);
      }
    }

    .shine {
      opacity: 1;
      transition-duration: .5s;
      transition-delay: 0s;
    }

    .background {

      .tiles {
        opacity: 1;
        transition-delay: .25s;

        .tile {
          animation-name: tile;
        }
      }

      .line {
        opacity: 1;
        transition-duration: .15s;

        &:before {
          transform: scaleX(1);
        }

        &:after {
          transform: scaleY(1);
        }

        &.line-1 {

          &:before,
          &:after {
            transition-delay: .0s;
          }
        }

        &.line-2 {

          &:before,
          &:after {
            transition-delay: .15s;
          }
        }

        &.line-3 {

          &:before,
          &:after {
            transition-delay: .3s;
          }
        }
      }
    }
  }
}
