/* .card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(228, 3, 3, 0.8);
  max-width: 300px;
  width: 280px;
  height:350px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.card-icon {
  font-size: 40px;
  margin-bottom: 16px;
  color: var(--dark-blue); 
} */

.card {
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  background-color: var(--blue-gray);;
  box-shadow: 4px 4px 4px 4px rgba(12, 11, 11, 0.8);
  max-width: 500px;
  width: 420px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-icon {
  font-size: 80px;
  /* margin-bottom: 5px; */
  color: var(--dark-blue); /* Adjust color as needed */
}
.title{
  font-size: var(--font-size-heading-4);
}
.content{
  font-size: var(--font-size-body);

}

@media (max-width: 480px) {
  .card {
    width: 420px;
    height: 420px;
  }

  /* .card-icon {
    font-size: 70px; 
  } */
}

@media (min-width: 481px) and (max-width: 768px) {
  .card {
    width: 420px;
    height: 420px;
  }

  /* .card-icon {
    font-size: 36px; 
  } */
}

@media (min-width: 769px) and (max-width: 1024px) {
  .card {
    width: 420px;
    height: 420px;
  }
}

@media (min-width: 1025px) {
  .card {
    width: 420px;
    height: 420px;
  }
}
